.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF1D7;
  color: #BB3E00;
  width: 100vw;
  padding: 1.5rem;
}

.pry-btn {
  padding: .5rem;
  width: 7.5rem;
  background: #BB3E00;
  border: none;
  cursor: pointer;
  margin: 0 1rem 0 0;
  font-size: 1.1rem;
  border-radius: 5px;
  color: #FFF1D7;
  text-decoration: none;
  text-align: center;
  display: block;
}

.header-section .catch-line {
  font-size: 1.3rem;
}

.name-section {
  background-color: #BB3E00;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 3rem;
  text-align: center;
}

.name-section input {
  border-radius: 5px;
  border: none;
  padding: .5rem;
  font-size: 1rem;
  margin-top: 1rem;
  background: #FFF1D7;
  color: #BB3E00;
}

.name-section input:focus {
  outline: none;
}

.name-section label {
  color: #FFF1D7;
  padding: .5rem;
}

.size-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #FFF1D7;
}

.size-section select {
  padding: .7rem;
  border: none;
  background-color: #BB3E00;
  color: #FFF1D7;
  margin-top: 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

.size-section select option {
  font-size: 1rem;
}

.size-section h3 {
  color: #BB3E00;
  font-size: 1.5rem;
}

.topping-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #BB3E00;
  color: #FFF1D7;
  padding: 2rem;
}

.topping-section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.topping-section h5 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.topping-section label {
  display: flex;
  justify-content: space-between;
  width: 8vw;
  font-size: 1.2rem;
}

.special-section {
  background-color: #FFF1D7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
} 

.special-section h3 {
  color: #BB3E00;
  font-size: 1.5rem;
}

.special-section textarea {
  min-width: 21vw;
  max-width: 16.8vw;
  min-height: 7vh;
  max-height: 7vh;
  outline: none;
  background-color: #FFF1D7;
  color: #BB3E00;
  margin: 1rem 0;
  font-size: 1rem;
}

.special-section input {
  padding: .8rem;
  background-color: #BB3E00;
  color: #FFF1D7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}