* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.header {
  padding: 1.5rem;
  font-size: 2.5rem;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF1D7;
  color: #BB3E00;
}

.nav-bar {
  display: flex;
}

.pry-btn {
  padding: .5rem;
  width: 7rem;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 1rem 0 0;
  /* font-size: 1rem; */
  border-radius: 5px;
  color: #BB3E00;
  text-decoration: none;
  text-align: center;
}

.sec-btn {
  background: #FFF1D7;
  padding: .7rem;
  width: 8rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 5px;
  color: #BB3E00;
  text-decoration: none;
  text-align: center;
}

.pry-btn:hover {
  background-color: rgba(187, 62, 0, 1);
  color: #FFF1D7;
}

.want-pizza {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #BB3E00;
  color: #FFF1D7;
  padding: 1rem;
  height: 89vh;
}

.want-pizza h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.want-pizza p {
  margin-bottom: 3rem;
  font-size: 1.5rem;
}
